{% extends "template.html" %}
{% block content %}

  
    <h1>Character Classifier</h1>
    <p class="text-justify">
      Dieses Projekt unterscheidet zwischen den 4 bekanntesten Nintendo Videospielcharaktere:<br/><br/> Mario, Luigi, Peach und Bowser
      

    </p>
   
    <small>Bild auswählen und auf Analyze Klicken</small>
    

      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      
      <div class='upload-label'>
        <label id='upload-label' class="label label-primary">No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='btn btn-primary' type='button' onclick='analyze()'>Analyze</button>
      </div>
      
      <div id="results" style="display: none;">
        <div class="table-responsive">
          <table class="table">
            <colgroup>
              <col span="1" style="width: 25%;">
              <col span="1" style="width: 75%;">              
            </colgroup>
            <thead>
              <tr>
                <th><span class="text-center">Label</span></th>
                <th><span class="text-center">Prediction</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span id="label_1" class="label label-primary">test</span>
                </td>
                <td>
                  <div class="progress">                  
                    <div id="progressbar_1" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100" style="width:70%">            
                    </div>
                  </div>
                </td> 
              </tr>
              <tr>
                <td>
                  <span id="label_2" class="label label-primary">test</span>
                </td>
                <td>
                  <div class="progress">
                    <div id="progressbar_2" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100" style="width:70%">            
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <span id="label_3" class="label label-primary">test</span>
                </td>
                <td>              
                  <div class="progress">
                    <div id="progressbar_3" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100" style="width:70%">            
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <span id="label_4" class="label label-primary">test</span>
                </td>
                <td>
                  <div class="progress">
                    <div id="progressbar_4" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100" style="width:70%">            
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
   
    <div>
	</div>
  
{% endblock %}